@font-face {
font-family: 'Geometria Light';
src: url('../fonts/Geometria-Light.eot');
src: url('../fonts/Geometria-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/Geometria-Light.woff') format('woff'),
url('../fonts/Geometria-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Geometria Regular';
src: url('../fonts/Geometria.eot');
src: url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
url('../fonts/Geometria.woff') format('woff'),
url('../fonts/Geometria.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Geometria Bold';
src: url('../fonts/Geometria-Bold.eot');
src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/Geometria-Bold.woff') format('woff'),
url('../fonts/Geometria-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Geometria Medium';
src: url('../fonts/Geometria-Medium.eot');
src: url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
url('../fonts/Geometria-Medium.woff') format('woff'),
url('../fonts/Geometria-Medium.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Geometria Extra Light';
src: url('../fonts/Geometria-ExtraLight.eot');
src: url('../fonts/Geometria-ExtraLight.eot?#iefix') format('embedded-opentype'),
url('../fonts/Geometria-ExtraLight.woff') format('woff'),
url('../fonts/Geometria-ExtraLight.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Montserrat Regular';
src: url('Montserrat-Regular.eot');
src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/Montserrat-Regular.woff') format('woff'),
url('../fonts/Montserrat-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}