

@media (max-width: 770px){
	// BLOCKS *****************************************************

.btn-circle-cross,
.btn-circle-chek,
.btn-circle-down{
	display: block;
	position: relative;
	cursor: pointer;
	width: 60px;
	height: 60px;
	background-color: $main-color;
	background-image: linear-gradient(to top, rgba(247, 142, 106, 0) 0%, #fc66a2 100%);
	border-radius: 50%;
	&:hover{
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
		background-color: $light-text;
		background-image: none;
	}
	&:hover i::before{
	display: block;
	background-image: linear-gradient(to top, rgba(247, 142, 106, 0) 0%, #fc66a2 100%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	}

	i{
		position: absolute;
		color:#ffffff;
		font-size: 20px;
		top:35%;
		left:35%;
	}
}
.btn-circle-down i{
	left:45%;

}



.scrool-btn{
	position: relative;
	cursor: pointer;
	width: 30px;
	height: 30px;
	background-color: #f78e6a;
	background-image: linear-gradient(to top, rgba(247, 142, 106, 0) 0%, #fc66a2 100%);
	border-radius: 50%;
	&:hover{
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
		background-color: $light-text;
		background-image: none;
	}
	&:hover i::before{
	display: block;
	background-image: linear-gradient(to top, rgba(247, 142, 106, 0) 0%, #fc66a2 100%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	}
	i{
		position: absolute;
		color:#ffffff;
		font-size: 6px;
		top:40%;
		left:40%;
	}
}
.btn-long{
	display:flex;
	width: 285px;
	height: 60px;
	box-shadow: 11px 11px 50px rgba(0, 0, 0, 0.1);
	border-radius: 29px;
	background-color: #f78e6a;
	&_text{
		color: #ffffff;
		font-family: Geometria Regular,sans-serif;
		padding: 17px;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
	}
	&_circle{
	display: block;
	position: relative;
	cursor: pointer;
	width: 60px;
	height: 60px;
	background-color: $main-color;
	background-image: linear-gradient(to top, rgba(247, 142, 106, 0) 0%, #fc66a2 100%);
	border-radius: 50%;
		i{
			position: absolute;
			color:#ffffff;
			font-size: 20px;
			top:35%;
			left:35%;
		}
	}
}
.btn-long:hover{
	background-color: #ffffff;
	cursor: pointer;
	.btn-long_text{
		background-image: linear-gradient(to right, #f78e6a 0%, #fc66a2 100%);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}
}

.footer {
	width: 408px;
	&_scroll{
		order:-1;
	}
	
	&_sroll-text{
		display: none;
		
	}
	&_social a{
			margin-right: 30px;
			font-family:Montserrat Regular,sans-serif;
			font-size: 10px;
			font-weight:600;
			line-height: 24px;
			text-transform: uppercase;
			color: #000000;
	}
}
.left-content{
	width: 320px;
	order: 1;
	flex-wrap: wrap;
}

.logo {
	position:absolute;
	top:30px;
	left:47%;
}

.header{
	padding-top: 33px;	
}

.header-menu {
	left:30px;
	
	li,
	&_text {
	font-size: 16px;
	}
	
	li{
	margin-bottom: 30px;
	}
	
	li:hover{
	font-family: "Geometria Bold", sans-serif;
	cursor: pointer;
	}
	
	&_text{
	position: absolute;
	top:0;
	left:40px;
	transition:0.5s;
	}
	
	&_list{
	position: absolute;
	padding-top:10px;
	padding-right:10px;
	padding-left:10px;
	top:-500px;
	left:40px;
	transition: 0.8s;
	background-color: #f78e6a;
	}
	
	&_btn-close {
	position: absolute;
	top:0;
	left:0px;
	display: none;
	}
	
	&_btn-open{
	z-index: 10;	
	}
}
#btn-menu{
	position: absolute;
	top:-2000px;
}
#btn-menu:checked ~ .header-menu_text{
	top:-200px;
}
#btn-menu:checked ~ .header-menu_btn-open{
	display: none;
}
#btn-menu:checked ~ .header-menu_list{
	top: 0;
}
#btn-menu:checked ~ .header-menu_btn-close{
	display: block;
}

#btn-menu-classes{
	position: absolute;
	top:-20px;
}
#btn-menu-classes:checked ~ .header-menu_text{
	top:-200px;
}
#btn-menu-classes:checked ~ .header-menu_btn-open{
	display: none;
}
#btn-menu-classes:checked ~ .header-menu_list{
	top: 0;
}
#btn-menu-classes:checked ~ .header-menu_btn-close{
	display: block;
}

.wraper{
	display:flex;
	justify-content:space-between;
	width:100%;
}

.text{
	color: #000000;
	font-family: Geometria Light,sans-serif;
	font-size: 16px;
}
.variables span{
		width: 65px;
	}

.discription{
	width: 435px;
	margin-top: 115px;
	margin-left: 0px;

}
.pagenation{
	position:absolute;
	top:87%;
	right:30px;
}


// BODY *****************************************
html{
	background-color: black;
}

body{
	background-color: black;
	margin: 0 auto;
	max-width: 768px;
	position:relative;
	
}
section{
	padding: 30px 30px;
	height: 1024px;
	width: 768px;
	background-color: #fbf5f4;
	margin-bottom:120px;
	position: relative;
}




// main section ***************************************************

.main_middle{
	display: flex;
	margin-bottom: 175px;
	justify-content:space-between;
	margin-top:160px;
}

.main_photo{
		overflow:hidden;
		width:  300px;
		img{
			width: 390px;
			transform:scale(-1,1);
		}

	}
.main_button{
			width: 50px;
			height: 50px;
		
		i {
			top:30%;
			left:33%;
		}
	}
.top{
	display: flex;
	justify-content: flex-end;
	margin-left: 50%;
}
.top_text{
		max-width:936px;
		color: $dark-text;
		font-family: "Geometria Regular", sans-serif;
		font-size: 18px;
		font-weight: 400;
		text-align:top;
		display:none;
	&::before{
		display: inline-block;
		content:" ";
		background-color: $main-color;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		vertical-align: middle;
		margin-right: 10px;

	}
}

.top_phone{
		color: $dark-text;
		font-family: "Montserrat ", sans-serif;
		font-size: 18px;
		font-weight: 400;
		display: block;

	}

.title-section{
	//max-width: 480px;
	margin-top: 210px;
	&_subtitle {
		display: inline-block;
		background-image: linear-gradient(to top, rgba(247, 142, 106, 0) 0%, #fc66a2 100%);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		font-family: "Geometria Regular";
		font-size: 18px;
		margin-bottom: 0px;
		transform: rotate(-180deg);
		writing-mode: vertical-rl;

	}
	&_button-wrapper{
		display: inline-block;

	}
	&_invite{
		display: inline-block;
		max-width: 325px;
		color: $dark-text;
		font-family: "Geometria Light";
		font-size: 20px;
		font-weight: 300;
		line-height: 30px;
		vertical-align: top;
		margin-left: 20px;
	}
}
h1{
	background-image: linear-gradient(to top, rgba(247, 142, 106, 0) 0%, #fc66a2 100%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	font-family: "Geometria Medium";
	font-size: 150px;
	display: inline-block;
	letter-spacing: -7.5px;
}

// classes section ***********************************************



.classes{
	&_photo{
		width:  213px;
		margin-left:40px;
		img{
			width: 100%;
			transform:scale(-1,1);
		}
	}
	&_discription{
		margin-top: 140px;
	}
	&_variables{
		margin-left: 40px;

	}
	
}


// test section ********************************************
.test{
	&_middle {
		display: flex;
		margin-bottom:169px;
	}
	&_photo{
		overflow:hidden;
		width:  300px;
		margin-top:260px;
		img{
			display:block;
			width: 375px;
			transform:scale(-1,1);
		}
	}
	
}
.form {
	&_title{
	margin-top: 180px;
}

// treiners ***********************************************
.treiners{
	&_photo{
	overflow:hidden;
		width:  231px;
		img{
			display:block;
			width: 100%;
		}
	}
	&_middle{
	padding-bottom: 15px;
	
	}
	&-discription{
		margin-top: 115px;
	}
	&_discription-title{
		height: 60px;}

	&_variables{
		margin-left: 30px;
		margin-top:110px;
	}
	.variables_caption{
		width: 83px;
	}
}

.treiners_discription-content{
	position:absolute;
	display: none;
}
.treiners_discription-content--active{
	display: block;
}



// abonements *************************************************
.abonements{
	&_middle{
		padding-bottom:180px;
	}
	&_table {
		border-spacing:5px;
		border-collapse:separate;
		margin-top: 190px;
		width:560px;
		
	}
	
	&_photo{
		width:  335px;
		margin-top:200px;
		margin-left: -165px;
		img{
			display:block;
			width: 100%;
			transform:scale(-1,1);
		}
	}

}


// schelude***************************************************
.schedule{
	&_download-button{
		width: 20px;
		height: 20px;
		margin-left:10px;
		margin-right: 10px;

		i{
			left:40%;
			top: 25%;
		}
	}
	table{
	border-spacing:2px;
	font-size:9px;
		td{
		height: 50px;
		font-family: Geometria Regular, sans-serif;
		width: 100px;
		line-height: 15px;
		}
	}
}
.schedule .top-content,
.schedule .middle-content{
	display: flex;
	justify-content: space-between;

}

// review *******************************************
.review{
	&_photo{
	margin-top: 105px;
	margin-left: -390px
	}
	&_middle{
	padding-bottom: 15px;
	}
	&-discription{
		width:470px;
		margin-top:115px;
	}
	&_variables-content{
		padding-left: 5px;;
	}
	
	&_variables{
		margin-left: 0;
		margin-top:115px;
	}
	.variables_caption{
		width: 75px;
	}
	&_discription-title img{
			width: 160px;
		}

	}
	
	&_photo{
		width:  554px;
		margin-top:60px;
		margin-left: -320px;
		img{
			display:block;
			width: 100%;
		}
	}
}

.review_discription-content{
	position:absolute;
	display: none;
}
.review_discription-content--active{
	display: block;
}

// test2 ***************************************************
.test2{
	&_middle {
		margin-bottom:165px;
	}
	&_photo{
		overflow:hidden;
		width:  280px;
		margin-top:220px;
		img{
			display:block;
			width: 370px;
		}
	}
	
}

// contact ***************************************************
.contact{
	&_data:not(botton){
		font-family: Geometria Bold, sans-serif;
		color: #000000;
	}
	&_data{
		position:absolute;
		top:200px;
	}
}

.contact .middle-content{
	width: 100%;
	margin-left: 0px;
	margin-bottom: 80px;
	margin-top: 70px;
	position:relative;
}

iframe{
	opacity:0.5;
}
}
