
	

@media (max-width: 820px){
	// BLOCKS *****************************************************

.footer {
	width: auto;
	margin-left: 115px;
	&_scroll{
		order:0;
	}
	
	&_sroll-text{
		display: none;
		
	}
	&_social a{
			margin-right: 30px;
			font-family:Montserrat Regular,sans-serif;
			font-size: 10px;
			font-weight:600;
			line-height: 24px;
			text-transform: uppercase;
			color: #000000;
	}
}
.left-content{
	width: 100%;
	order: 0;
	flex-wrap: wrap;
}
.right-content {
    width: 100%; }

.logo {
	position:absolute;
	top:15px;
	left:85%;
	width: 40px;
}

.header{
	//position:fixed;
	//z-index:100;
	//background-color: $bg-color;
	padding-top: 0px;
	//padding-left:15px;
	//display: flex;
	//justify-content: space-between;
	
	
}
// .header-menu-wrapper{
// 	position:relative;
// }
.header-menu{
	display: none;
	//position: absolute;
	height: 780px;
	//overflow: hidden;
	left:15px;
	top:15px;
	width:345px;

	&_text{
		display: none;
	}
	li{
	font-size: 24px;

	}

	li{
	margin-bottom: 55px;
	}

	
	&_list{
	position: absolute;
	top:-600px;
	left:25%;
	width: 190px;
	padding:0;
	text-align:center;
	background-color: $bg-color;
	opacity:0.8;

	}
	
}
#btn-menu:checked ~ .header-menu_list{
	top: 80px;
}

.text{
	color: #000000;
	font-family: Geometria Light,sans-serif;
	font-size: 16px;
}
.variables span{
		width: 65px;
}

.discription{
	width: 350px;
	margin-top: 20px;
	margin-left: 0px;
}
.discription_slide-btn{
	display: block;
	position:absolute;
	p {
		display: inline-block;
	}
	p:nth-of-type(1) {
		margin-bottom:0px;
		transform:rotate(90deg);
	}
	p:nth-of-type(2) {
		transform:rotate(-90deg);
	}

}
.discription_class{
	margin-bottom: 55px;
	height: 430px;
}

.pagenation{
	top:90%;
	right:325px;
}
.pagenation p:nth-of-type(1) {
    font-size: 30px;
    margin-bottom: 5px;
}

.pagenation p:nth-of-type(2) {
    text-align: right;
    padding-right: 5px;
    font-size: 14px;
}

// BODY *****************************************
html{
	background-color: black;
}

body{
	max-width: 375px;
}

section{
	padding: 15px 15px;
	width: 375px;
	height: 812px;
	margin-bottom:40px;
	position: relative;
}
.top {
    	display: none;
    }



// main section ***************************************************
.main {
    padding: 15px; 
    
}

.main_middle{
	display: flex;
	flex-direction: column;
	margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom:145px;
}

.main_photo{
		overflow: hidden;
    	width: 198px;
   		margin: 0 auto;
		img{
			width: 198px;
			transform:none;
			margin-top: 85px
	
		}

}
.main_button{
			width: 50px;
			height: 50px;
		
		i {
			top:30%;
			left:33%;
		}
}
.top{
	justify-content: flex-end;
}
.top_text{
		display:none;
}


.title-section{
    margin-top: 40px;
	width: 400px;
	&_subtitle {
		font-size: 16px;
		margin-bottom: 0px;
		transform: rotate(-180deg);
		writing-mode: vertical-rl;
	}
	&_invite{
		margin-left: 15px;
		font-size:16px;
		line-height: 25px;
		width:260px;
	}
}
h1{
	font-size: 130px;
    letter-spacing: -7.5px;
}

// classes section ***********************************************

.classes{
	&_middle{
		display: flex;
		flex-direction: column;
		margin-bottom: 0px;
    	margin-top: 95px;
    	padding-bottom:90px;
	}
	
	&_variables{
		margin-left: 40px;
	}
	.left-content{
		display: none;
	}
	.discription_slide-btn{
	left:270px;
	z-index:10;
	p:nth-of-type(1) {
		margin-right: 10px;
	}

}
}
.discription_content{
	//display: block;
	//height: 430px;
	position:static;
}
.discription_class{
	width: 350px;	
}


// test section ********************************************
.test{
	&_middle{
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;
	}
	&_photo{
		overflow:hidden;
		width:  300px;
		margin-top:260px;
		img{
			display:block;
			width: 375px;
			transform:scale(-1,1);
		}
	}
	.left-content{
		display: none;
	}
}
.test .form{
	width:100%;

}
.form_title{
	margin-top: 130px;
	margin-bottom:45px;

}
.form_subtitle{
	font-size:16px;
	text-align:justify;
	width:270px;
	margin-bottom: 45px;

}
#test-form input{
	width: 340px;
}

// treiners ***********************************************
.treiners{
	&_photo{
	overflow:hidden;
		width:  231px;
	margin:0 auto;
		img{
			display:block;
			width: 100%;
		}
	}
	&_middle{
	padding-bottom: 15px;
	display: flex;
	flex-direction: column;
	
	}
	

	.discription_title{
		height: 60px;
		font-size:18px;
		span.title-mono{
			font-size:40px;
		}
	}
	.discription_treiner {
		margin-bottom: 35px;
		height: 280px;

	}
	.discription_text:nth-of-type(2){
	display:none;
}

	&_variables{
		display: none;
	}
	&_photo{
		width: 140px;
	}
	.variables_caption{
		width: 83px;
	}
	.discription_slide-btn{
		top:150px;
		width: 90%;
		p:nth-of-type(1){
			margin-right: 81%;
		}
	}
	.footer{
		margin-top: 40px;
	}
}

.treiners_discription-content{
	position:static;
}
.discription_treiner{
	width: 350px;
}


// abonements *************************************************
.abonements{
	&_middle{
		padding-bottom:165px;
		display: flex;
		flex-direction: column;
	}
	&_price-wraper{
		margin-left: 10px;
		margin-right: 10px;

	}

	&_table {
		width:100%;
		border-spacing:2px;
		margin-top: 160px;
		.text{
			font-size:14px;
		}
		
	}
	td{
			width: 200px;
			height: 100px;
			
		}
	
	&_price-button{
		width: 30px;
		height: 30px;
		margin-right: 0px;
		align-self: flex-end;
		i{
			font-size:10px;
		}
	}
	&_price p.text {
		margin-top: 20px;
		
	}
	&_num{
			font-family: Geometria Regular, sans-serif;
			font-size: 16px;
			padding-right:5px
	}
	&_order-button{
		margin-top: 60px;
	}
	
	.left-content{
		display:none;
	}
}
.abonemets_price-wraper{
	margin-left: 5px;
	margin-right: 5px;

}


// schelude***************************************************
.schedule{
	&-mobile{
		display:block;
		margin-bottom:50px;
	}
//height: 1150px;
	&_download-button{
		width: 20px;
		height: 20px;
		margin-left:10px;
		margin-right: 10px;

		i{
			left:40%;
			top: 20%;
			font-size:12px;
		}
	}
	table{
	margin-top:0px;
	//height: 0;
	//overflow:hidden;
		td{
		font-family: Geometria Regular, sans-serif;
		font-size:9px;
		height: 0;
		}
	}
	&_main{
		display: none;
	}
	&-mobile_day,
	&-mobile_btn{
		display:inline-block;
		vertical-align: middle;

	}
	&-mobile_btn{
		width: 25px;
		height: 25px;
		float: right;
		margin-right: 10px

	}
	&-mobile_day{
	font-family: Geometria Regular,sans-serif;
    font-size: 18px;
    	}
	&-mobile_item:first-of-type{
		margin-top: 20px;
	}
	&-mobile_item{
		text-align:center;
		margin-bottom: 10px;
		background-color: #eddddd;
		width: 340px;
		padding-top:15px;
		padding-bottom:15px;
		//height: 30px;
		border-radius:10px
	}
	&_btn{
		margin-bottom: 85px;
	}
}
.schedule-mobile_item input, 
.schedule-mobile_table {
	 display: none; }
.schedule-mobile_table{
	display:none;}
.schedule-mobile_item input:checked ~ .schedule-mobile_table{
	display:block;
}
.schedule .middle-content{
	display: flex;
	flex-direction: column;

}
.schedule .middle-content{
	margin-bottom:10px
}
.schedule-mobile_top-text{
	font-family: Geometria Bold,sans-serif;
    font-size: 20px;
    text-align:center;
    margin-top: 100px;
}
// review *******************************************
.review{
	&_middle{
		display: flex;
		flex-direction: column;
		margin-bottom: 0px;
    	margin-top: 30px;
    	padding-bottom:55px;
	}
	
	&_variables{
		margin-left: 40px;
	}
	.left-content{
		display: none;
	}
	.discription_slide-btn{
	left:270px;
	z-index:10;
	p:nth-of-type(1) {
		margin-right: 10px;
	}

	}
	.discription_title{
		margin-bottom: 10px;
	}
}

.discription_text {
	line-height:30px;
}
.review_discription-content{
	position:static;
}
.review_discription{
	width: 350px;
}

// test2 ***************************************************
.test2{
	&_middle{
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;
	}
	&_photo{
		overflow:hidden;
		width:  300px;
		margin-top:260px;
		img{
			display:block;
			width: 375px;
			transform:scale(-1,1);
		}
	}
	.left-content{
		display: none;
	}
}
.test .form{
	width:100%;

}
.form_title{
	margin-top: 100px;
	margin-bottom:45px;

}
.form_subtitle{
	font-size:16px;
	text-align:justify;
	width:270px;
	margin-bottom: 45px;

}
#test-form input{
	width: 340px;
}

// contact ***************************************************

.contact .middle-content{
	margin-bottom: 55px;
	
}
}


	