
	

@media (max-width: 1740px){
	// BLOCKS *****************************************************
.footer {
	width: 408px;
	&_scroll{
		order:-1;
	}
	
	&_sroll-text{
		display: none;
		
	}
	&_social a{
			margin-right: 30px;
			font-family:Montserrat Regular,sans-serif;
			font-size: 10px;
			font-weight:600;
			line-height: 24px;
			text-transform: uppercase;
			color: #000000;
	}
}
.left-content{
	width: 300px;
	order: 1;
	flex-wrap: wrap;
	z-index: 1;
}
.right-content {
    width: 100%;
    z-index: 10; }

.logo {
	position:absolute;
	top:30px;
	left:47%;
}

.header{
	padding-top: 33px;	
}

.header-menu {
	left:30px;
	height: 310px;
	&_list{
	position: absolute;
	padding-top:10px;
	padding-right:10px;
	padding-left:10px;
	background-color: #f78e6a;
	}
}

.text{
	color: #000000;
	font-family: Geometria Light,sans-serif;
	font-size: 16px;
}
.variables span{
		width: 65px;
}

.discription{
	width: 435px;
	margin-top: 115px;
	margin-left: 0px;
}
.pagenation{
	top:88%;
}


// BODY *****************************************
html{
	background-color: black;
}

body{
	//min-width: 820px;
	width: 768px;
	margin: 0 auto;
	//overflow:hidden;
}

section{
	padding: 30px 30px;
	height: 1024px;
	width: 768px;
	margin-bottom:120px;
	position: relative;
}




// main section ***************************************************
.main {
    padding-right: 0; 
    .top {
    	margin-right: 30px;
    }
}
.main_middle{
	margin-bottom: 85px;
    margin-top: 160px;
}

.main_photo{
		overflow: hidden;
    	width: 325px;
		margin-left: 13px;
		img{
			width: 390px;
			transform:scale(-1,1);
		}

}
.main_button{
			width: 50px;
			height: 50px;
		
		i {
			top:30%;
			left:33%;
		}
}
.top{
	justify-content: flex-end;
}
.top_text{
		display:none;
}


.title-section{
    margin-top: 210px;
	width: 400px;
	&_subtitle {
		font-size: 18px;
		margin-bottom: 0px;
		transform: rotate(-180deg);
		writing-mode: vertical-rl;
	}
	&_invite{
		margin-left: 20px;
	}
}
h1{
	font-size: 150px;
    letter-spacing: -7.5px;
}

// classes section ***********************************************

.classes{
	&_middle{
		padding-bottom:0;
	}
	&_photo{
		width:  213px;
		margin-left:40px;
		margin-top: 0;
		img{
			width: 100%;
			transform:scale(-1,1);
		}
	}
	&_variables{
		margin-left: 40px;
	}
}


// test section ********************************************
.test{
	&_photo{
		overflow:hidden;
		width:  300px;
		margin-top:260px;
		margin-left:0px;
		img{
			display:block;
			width: 375px;
			transform:scale(-1,1);
		}
	}
}
.form_title{
	margin-top: 180px;
}
.test .left-content{
	margin-left: 3px;
}

// treiners ***********************************************
.treiners{
	&_photo{
	overflow:hidden;
		width:  231px;
		 margin-top: 25px;
		img{
			display:block;
			width: 100%;
		}
	}
	&_middle{
	padding-bottom: 15px;
	
	}
	&-discription{
		margin-top: 115px;
	}
	&_discription-title{
		height: 60px;}

	&_variables{
		margin-left: 30px;
		margin-top:120px;
	}
	.variables_caption{
		width: 83px;
	}
}

.treiners_discription-content{
	position:absolute;
	display: none;
}
.treiners_discription-content--active{
	display: block;
}

// abonements *************************************************
.abonements{
	&_middle{
		padding-bottom:165px;
	}
	&_table {
		width:550px;
		margin-top: 45px;
		
	}
	&_photo{
		width:  335px;
		margin-top:200px;
		margin-left: -165px;
		img{
			display:block;
			width: 100%;
			transform:scale(-1,1);
		}
	}
}


// schelude***************************************************
.schedule{
	&_download-button{
		width: 20px;
		height: 20px;
		margin-left:10px;
		margin-right: 10px;

		i{
			left:40%;
			top: 20%;
			font-size:12px;
		}
	}
	table{
	border-spacing:2px;
	font-size:9px;
	margin-top: 200px;
		td{
		height: 50px;
		width: 100px;
		line-height: 15px;
		font-size:10px
		}
	}
}
.schedule .top-content,
.schedule .middle-content{
	display: flex;
	justify-content: space-between;

}
.schedule .middle-content{
	margin-bottom:310px
}
// review *******************************************
.review{
	
	&_middle{
	padding-bottom: 25px;
	justify-content: space-between;
	padding-bottom: 15px;
	}
	&-discription{
		width:470px;
		margin-top:115px;
	}
	&_variables-content{
		padding-left: 0px;
		width: 190px;
	}
	
	&_variables{
		margin-left: 0;
		margin-top:115px;
	}
	.variables_caption{
		width: 75px;
	}
	&_discription-title img{
			width: 160px;
		}
	
	&_photo{
		width:  554px;
		margin-top:60px;
		margin-left: -320px;
		img{
			display:block;
			width: 100%;
		}
	}
}

.review_discription-content{
	position:absolute;
	display: none;
}
.review_discription-content--active{
	display: block;
}

// test2 ***************************************************
.test2{
	&_middle {
		margin-bottom:165px;
	}
	&_photo{
		overflow:hidden;
		width:  280px;
		margin-top:220px;
		margin-left: 0;
		img{
			display:block;
			width: 370px;
		}
	}
	
}
.test2 .left-content{
	margin-left: 23px;
}

// contact ***************************************************
.contact{
	&_data:not(botton){
		font-family: Geometria Bold, sans-serif;
		color: #000000;
		margin-left: 30px;
	}
	&_data{
		position:absolute;
		top:0px;
	}
	&_map{
		margin-left: 0;
	}
}

.contact .middle-content{
	width: 100%;
	margin-left: 0px;
	margin-bottom: 225px;
	margin-top: 70px;
	position:relative;
}

iframe{
	opacity:0.5;
}
}
