@import "bourbon/core/bourbon";
@import '../../node_modules/reset-css/reset';
@import "variables";
@import "smart-grid.scss";
@import "fonts.scss";
@import "icon.scss";
//@import "slick.scss";


* {box-sizing: border-box;}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}

button:active, button:focus {
  outline: none;
}

// typograthy**********************************

h3 {
	color: #000000;
	font-family: "Arial-BoldMT";
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
}

// blocks ***************************************
.wrap {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
	border: 1px solid rgba(0, 0, 0, 0.15);
	min-width:360px;
}
.btn {
 	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.1);
	border: 1px solid #2aacc8;
	border-radius: 6px;
	background-color: #2aacc8;
	background-image: linear-gradient(to top, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
 }
.logo {
		width: 155px;
		color: #000000;
		font-size: 50px;
		font-family: Lato;
		font-weight:900;
		span {
			font-weight: 400;
			color: #2aacc8;
		}
	}
.wrapper {
 	@include wrapper(); 	
 }

.link {
	font-family: "Arial MT";
	font-size: 14px;
	font-weight: 400;
}


// header block *******************************
.container {
	background-color: #e8ebf1;
	
}
.header-wrap {
	max-width: 1000px;
	@include from(1001px){
	margin-left: auto;
	margin-right: auto;
	}

}
.header {
	padding-top: 36px;
	padding-bottom: 47px;
	@include xs(padding-bottom,20px);
	@include row-flex();
	align-items: center;
	justify-content: space-between;
	margin-right: 0px;
	margin-left: 0px;
	&_logo,
	&_menu {
		@include col();
	}

	&_menu {
		@include size (8);
		@include size-md (12);
		@include md(margin-top,20px);
	}
}
.menu {	

	&_list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include xs-block(){
			display: none;
			position:relative;
		}
		&--drop{
			@include xs-block(){
			display: block;}
		}
			
	}
	li {
		display: block;
		margin-right: 10px;
		flex-shrink: 0;
	}
	&_toggle {
		background-color: #2aacc8;
		display:none;
		height:40px;
		width:65px;
		color: #fff;
		font-family: "Arial-BoldMT";
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		text-transform: uppercase;
		padding:12px 11px;
		cursor: pointer;
		&:before{
			content: 'Menu';
		}
		@include xs-block(){
			display: block;
			position:absolute;
			left: 82%;
			top:6%;
		}

		@include xxs-block(){
			
			left: 280px;
			
		}
		

	}

	.last {
	margin-right: 0px;
	}
	&_item-3 {
		position: relative;
	}
	&_item-4 {
		position: relative;
	}
	a {
	color:#000000;
	font-family: "Arial-BoldMT";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	display:block;
		&:hover {
		color: #2aacc8;
		}
	}
}
.menu_item-3 {
	padding: 5px 20px 5px 10px;
	@include xs-block(){
		padding:0;
		width: 210px;
		}
	}
.menu_item-3:hover::after {
	display: block;
	content: " ";
	height: 5px;
	background-color: #2aacc8;
	width: 100px;
	position: absolute;
	top: -15%;
	left: 0%;
	@include xs-block(){
		height: 20px;
		background-color: #2aacc8;
		width: 5px;
		position: absolute;
		top: -0%;
		}
}
.menu_item-3:hover {
	background-color:#ffffff;
	@include xs(padding,0 0 0 10px);
	.menu_link-3 {
		color: #2aacc8;}
	.menu_drop-1 {
		display: block;
	}
}
.menu_item-4 {
	padding: 5px 20px 5px 10px;
	@include xs-block(){
		padding:0;
		width: 210px;
	}
}
.menu_item-4:hover::after {
	display: block;
	content: " ";
	height: 5px;
	background-color: #2aacc8;
	width: 115px;
	position: absolute;
	top: -15%;
	left: 0%;
	@include xs-block(){
		height: 20px;
		background-color: #2aacc8;
		width: 5px;
		position: absolute;
		top: -0%;
		margin-right: 15px;
	}
}
.menu_item-4:hover {
	background-color:#ffffff;
	@include xs(padding,0 0 0 10px);
	.menu_link-4 {
		color: #2aacc8;}
	.menu_drop-2 {
		display: block;
	}
}
.menu_item-3 span:before {
	font-size: 7px;
	position: absolute;
	left: 85%;
	top:25%;
	@include xs-block(){
		left: 39%;
		top: 0%;
	}
}
.menu_item-4 span:before {
	font-size: 7px;
	position: absolute;
	left: 85%;
	top: 25%;
	@include xs-block(){
		left: 46%;
		top: 0%;
	}
}
.menu_drop-1,
.menu_drop-2 {
	z-index:1000;
	position:absolute;
	margin-top: 5px;
	margin-left: -10px;
	padding-left: 15px;
	padding-right: 15px;
	width: 210px;
	background-color:#ffffff;
	display: none;
	@include xs-block(){
		position:static;
	}
	li {
		display: list-item;
		border-bottom: solid 1px black;
	}
	li:last-child {
		border-bottom-width: 0px;
	}
	a {
		font-family:"Arial MT";
		line-height: 36px;
		font-weight: 500;
		text-transform: none;
	}
}
.menu_drop-1  {
	border-bottom: solid 5px #2aacc8;
	
}
.menu_drop-2  {
	border-bottom: solid 5px #2aacc8;
}

//slider block ****************************************************

.slider-conteiner {
	background-color:#81e4ed;
	padding-top:20px;
	padding-bottom:40px;

}
.slider-wrap {
	max-width: 1000px;
	@include from(1001px){
	margin-left: auto;
	margin-right: auto;
	}
}
.next {
	width: 20px;
	height: 20px;
	position:absolute;
	top:10%;
}
.slider_item-1,
.slider_item-2,
.slider_item-3 {
	position:relative;
}

.slider_img-1,
.slider_img-2,
.slider_img-3 {
	z-index: 1;
	width: 100%;
} 
.slider_text {
	color: #ffffff;
	font-family: Lato;
	font-weight: 700;
	font-size: 6vw;
	@include from(780px)
	{font-size: 50px;
	}
}
.slider_text-1 {
	z-index: 10;
	position:absolute;
	top: 80px;
	left:60px;
}
.slider_text-2 {
	z-index: 10;
	position:absolute;
	top: 80px;
	left:60px;
	color: #400182;
}
.slider_text-3 {
	z-index: 10;
	position:absolute;
	top: 80px;
	left:60px;
	color:#568c13;
}
.slider_item-2,
.slider_item-3 {
	width: 100%;
}


// middle block **********************************


.middle {
	background-color:#e8ebf1;
	padding-top:60px;
	padding-bottom:50px;
	@include md(padding-bottom,25px);
 	&-container {
 	@include row-flex();
	}

 	&_item {
 	@include col();
 	@include size(3);
 	@include size-md(6);
 	@include size-xs(12);
 	margin-bottom: 25px;
 	}
 	&_title {
		display: inline-block;
		vertical-align: middle;
 	}
 	&_article {
 		color: #363636;
		font-family: "Arial MT";
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
		margin-bottom: 20px;
		margin-top: 20px;
 	}
 	&_btn {
 		display: inline-block;
 		font-family: "Arial MT";
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
		color: #2aacc8;
 	}
 }
 .icon-chevron-right {
 	font-size: 10px;
 	margin-right: 5px;
 	display: inline-block;
 }
.middle_icon {
 		position:relative;
 		background-color: #2aacc8;
		width: 40px;
		height: 40px;
		display: inline-block;
		vertical-align: middle;
		border-radius: 50%;
		margin-right: 6px;
 	}
	.middle_icon:before {
	font-size:21px;
	position:absolute;
 	}
.icon-fullscreen:before {
 	top:25%;
 	left:19%;
}
.icon-plane:before {
 	top:25%;
 	left:30%;
}
 .icon-Shape:before {
 	top:20%;
 	left:25%;
}

.icon-view_list:before {
	top:23%;
 	left:25%;
}
// works block***************************************************
.works-wrap {
	@include wrapper();
	padding-top:25px;
}
.works_header {
	display: flex;
	justify-content:space-between;
}
.works_title {
	display: inline-block;
	margin-left: 25px;
	vertical-align: middle;
}
.icon-Shape_3 {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.icon-Shape_3:before {
	font-size:24px;
	position:absolute;
	color: #2aacc8;
	top: -15px;
}
.next-btn,
.prev-btn {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	background-color: transparent;
	border: none;
	padding:0;
	cursor: pointer;
}
.next-btn {
	margin-right: 0px;
}
.slider2 {
	padding-top: 35px;
	padding-bottom:40px;
	position:relative;
	&:before {
		content:'';
		display: block;
		width: 100%;
		height: 2px;
		background-color: #dfe1e5;
		margin-bottom: 20px;
	}
	&:after {
		content:'';
		display: block;
		width: 100%;
		height: 2px;
		background-color: #dfe1e5;
		margin-top: 40px;
	}

}
.slider2_item {
	position: relative;
	z-index: 1;
	overflow: hidden;
	&:hover .item-hover {
		opacity:1;
		top:80px;
	}
}
.item-hover {
	background-color:#2aacc8;
	width:220px;
	position:absolute;
	height:50%;
	top:180px;
	z-index:100;
	opacity: 0;
	transition: .5s ease-in;
	a {
		display: inline-block;
		vertical-align: top;
		margin-top: 12%;

	}
	a:first-of-type{
		margin-left: 30%;
		margin-right:25px;
	}
}
.slider2 .slick-slide{
    margin-left:  30px;
    //margin-right:  15px;
  }
  .slider2 .slick-list {
    margin-left: -30px;
  }
// major section *******************************************
.major-container {
	@include row-flex();
	padding-bottom:40px;
	@include xs(padding-bottom,20px);

}
// testimonials block **************************************
.testimonials,
.client,
.load {
	@include col();
 	@include size(6);
 	@include size-md(12);
 	//@include size-xs(12);
}
.testimonials{
	padding-right:40px;
	@include md(padding-right,0px);
	&_title {
		display: inline-block;
		margin-left: 34px;
		vertical-align: middle;
	}
	&_article {
		color: #363636;
		font-family: "Arial MT";
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		margin-top: 22px;
		margin-bottom: 35px;
		@include md(margin-bottom,20px);

	}
	&_author {
		font-family: "Arial-Bold Italic MT";
		font-weight: 700;
		font-size: 14px;
	}
}
.icon-comments {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	&:before {
	  	font-size:24px;
		position:absolute;
		color: #2aacc8;
		top: -13px;
	}
}
// client block **********************************************
.client {
	@include md(margin-top,40px);
	@include size-md(12);
	&_title {
		display: inline-block;
		margin-left: 15px;
		vertical-align: middle;
	}
}
.company {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	&_item{
		display: flex;
		justify-content:center;
		align-items: center;
		min-width: 160px;
		height: 101px;
		box-shadow: inset 0 0 25px #e8ebf1;
		border: 1px solid #e8ebf1;
		background-color: #ffffff;
		@include md(width,calc(100%/3));
		@include xs(width,calc(100%/2));
		@include xs(width,calc(100%/2));
	}
}
// download block ************************************
 .load {
 	@include size(12);
 	border: 1px solid #81e4ed;
	background-color: #e8fcfe;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	@include sm(flex-wrap,wrap);
 	padding: 35px 40px 30px;
	@include md(padding,20px 20px)
	
 	&_text {
 		color: #363636;
		font-family: "Arial MT";
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		margin-right: 80px;
		min-width: 300px;
		@include sm(margin-right,0px);
 	}
 	&_btn {
 		color: #0d0707;
		font-family: "Arial-BoldMT";
		font-size: 18px;
		font-weight: 400;
		line-height: 20px;
		text-transform: uppercase;
		flex-shrink: 0;
		max-width: 240px;
		height: 60px;
		padding: 0 15px;
		cursor: pointer;
		@include sm(margin-top,10px);
 	}
 }
 .icon-download {
 	font-size:28px;
 	display: inline-block;
 	vertical-align: middle;
 	padding-right: 15px;
 }
// bottom block *******************************************

.bottom {
	background-color:#e8ebf1;
	padding-top:35px;
	padding-bottom:58px;
	&-container {
		display: flex;
		max-width:1000px;
		justify-content: space-between;
		flex-wrap:wrap;
	}
	&_text,
	&_link,
	&_address,
	&_phone,
	footer {color: #363636;
			font-family: "Arial MT";
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
		}
	&_link {
		display: inline-block;
		margin-bottom:10px;
		&:hover{
		color:#2aacc8;
		}
	}
	&-section-1{
		width:235px;
		margin-right: 15px;
		// @include md-block(){
		// 	width:100%;
			
		// };
		h3{
			margin-bottom: 20px;
		}
	}
	&-section-2{
		width:71px;
		margin-right: 15px;
		h3{
			margin-bottom:10px;
			display: inline-block;
		}
	}
	&-section-3{
		width:106px;
		margin-right: 15px;
		// @include md-block(){
		// 	width:100%;
			
		// };
		h3{
			margin-bottom:10px;
			display: inline-block;
		}
	}
	&-section-4{
		width:135px;
		margin-right: 15px;
				h3{
			margin-bottom: 20px;
			display: inline-block;
		}
		p {
			display: inline-block;
		}
		p:first-of-type{
			margin-bottom:15px;
		}
	}
	&-section-5{
		width: 196px;
		@include md-block(){
		width:100%;
		};
		h3{
			margin-bottom: 20px;
			padding-left:10px;
			display: inline-block;
			vertical-align: middle;
		}
		a{
			display: inline-block;
			vertical-align: top;
			margin-left: 5px;
			vertical-align: middle;
		}
	}
 }

footer {
 	width: 100%;
 	margin-top: 45px;
 	p{
 		font-size:13px;
 		margin-right: 18%
 	}
 	p,
 	.footer_logo{
 		display: inline-block;
 	}
 	.footer_logo{
 		@include md(display,none);
 	}
 }

