@import "bourbon/core/bourbon";
@import '../../node_modules/reset-css/reset';
@import "variables";
@import "smart-grid.scss";
@import "fonts.scss";
@import "icon.scss";

* {box-sizing: border-box;}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}

button:active, button:focus {
  outline: none;
}

// typograthy**********************************

h3 {
	color: #000000;
	font-family: "Arial-BoldMT";
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
}



// blocks **********************************************************************

.wrap {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
	border: 1px solid rgba(0, 0, 0, 0.15);
	min-width:360px;
}

.btn {
 	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.1);
	border: 1px solid #2aacc8;
	border-radius: 6px;
	background-color: #2aacc8;
	background-image: linear-gradient(to top, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
 }

.logo {
		width: 155px;
		color: #000000;
		font-size: 50px;
		font-family: Lato;
		font-weight:900;
		span {
			font-weight: 400;
			color: #2aacc8;
		}
	}
.wrapper {
 	@include wrapper(); 	
 }

.link {
	font-family: "Arial MT";
	font-size: 14px;
	font-weight: 400;
}


// header block *******************************
.container {
	background-color: #e8ebf1;
	
}

.header-wrap {
	max-width: 1000px;
	@include from(1001px){
	margin-left: auto;
	margin-right: auto;
	}

}

.header {
	padding-top: 36px;
	padding-bottom: 47px;
	@include xs(padding-bottom,20px);
	@include row-flex();
	align-items: center;
	justify-content: space-between;
	margin-right: 0px;
	margin-left: 0px;
	&_logo,
	&_menu {
		@include col();
	}

	&_menu {
		@include size (8);
		@include size-md (12);
		@include md(margin-top,20px);
		//@include xs(margin-top,10px);
		
	}
	
}

.menu {	

	&_list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include xs-block(){
			display: none;
			position:relative;
		}
		&--drop{
			//@include xs-block(){
			display: block;}
			
	}
	li {
		display: block;
		margin-right: 10px;
		flex-shrink: 0;
	}
	&_toggle {
		background-color: #2aacc8;
		display:none;
		height:40px;
		width:65px;
		color: #fff;
		font-family: "Arial-BoldMT";
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		text-transform: uppercase;
		padding:12px 11px;
		cursor: pointer;
		&:before{
			content: 'Menu';
		}
		@include xs-block(){
			display: block;
			position:absolute;
			left: 82%;
			top:6%;
		}

		@include xxs-block(){
			
			left: 280px;
			
		}
		
	}

	.last {
	margin-right: 0px;
	}
	&_item-3 {
		position: relative;
	}
	&_item-4 {
		position: relative;
	}
	a {
	color:#000000;
	font-family: "Arial-BoldMT";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	display:block;
		&:hover {
		color: #2aacc8;
		}
	}
}



.menu_item-3 {
	padding: 5px 20px 5px 10px;
	@include xs-block(){
		padding:0;
		width: 210px;
		}
	}

.menu_item-3:hover::after {
	display: block;
	content: " ";
	height: 5px;
	background-color: #2aacc8;
	width: 100px;
	position: absolute;
	top: -15%;
	left: 0%;
	@include xs-block(){
		height: 20px;
		background-color: #2aacc8;
		width: 5px;
		position: absolute;
		top: -0%;
		}
}

.menu_item-3:hover {
	background-color:#ffffff;
	@include xs(padding,0 0 0 10px);
	.menu_link-3 {
		color: #2aacc8;}
	.menu_drop-1 {
		display: block;
	}
}



.menu_item-4 {
	padding: 5px 20px 5px 10px;
	@include xs-block(){
		padding:0;
		width: 210px;
	}
}

.menu_item-4:hover::after {
	display: block;
	content: " ";
	height: 5px;
	background-color: #2aacc8;
	width: 115px;
	position: absolute;
	top: -15%;
	left: 0%;
	@include xs-block(){
		height: 20px;
		background-color: #2aacc8;
		width: 5px;
		position: absolute;
		top: -0%;
		margin-right: 15px;
	}
}

.menu_item-4:hover {
	background-color:#ffffff;
	@include xs(padding,0 0 0 10px);
	.menu_link-4 {
		color: #2aacc8;}
	.menu_drop-2 {
		display: block;
	}
}

.menu_item-3 span:before {
	font-size: 7px;
	position: absolute;
	left: 85%;
	top:25%;
	@include xs-block(){
		left: 39%;
		top: 0%;
	}
}

.menu_item-4 span:before {
	font-size: 7px;
	position: absolute;
	left: 85%;
	top: 25%;
	@include xs-block(){
		left: 46%;
		top: 0%;
	}
	
}



.menu_drop-1,
.menu_drop-2 {
	z-index:1000;
	position:absolute;
	margin-top: 5px;
	margin-left: -10px;
	padding-left: 15px;
	padding-right: 15px;
	width: 210px;
	background-color:#ffffff;
	display: none;
	@include xs-block(){
		position:static;
	}
	li {
		display: list-item;
		border-bottom: solid 1px black;
	}
	li:last-child {
		border-bottom-width: 0px;
	}
	a {
		font-family:"Arial MT";
		line-height: 36px;
		font-weight: 500;
		text-transform: none;
	}
}

.menu_drop-1  {
	border-bottom: solid 5px #2aacc8;
	
}

.menu_drop-2  {
	border-bottom: solid 5px #2aacc8;
}

// folio sectoin**************************************

.folio_title {
	display: inline-block;
	margin-left: 25px;
	vertical-align: middle;
}
.folio-title-section{
	margin-top:40px;
	padding-bottom:15px;
	border-bottom:solid 1px lightgrey;
}
.folio-title-section i{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	color: #2aacc8;
	font-size:24px;
}
.folio-nav {
	margin-top: 15px;
	padding-bottom:15px;
	border-bottom:solid 1px lightgrey;
	a{
	color: #000000;
	font-family: "Arial MT";
	font-size: 14px;
	font-weight: 500;
	display: inline-block;
	margin-right: 10px;
		&:hover{
			color:#2aacc8;
		}
	}
}

// *****************slider************************

.slider3 {
	margin-top: 40px;
	margin-bottom:30px;
	border-bottom:solid 1px lightgrey;	
	&_item {
		@include col();
		@include size(3);
		@include size-md(4);
		@include size-xsm(6);
		@include size-xs(6);
		@include size-xxs(12);
		margin-bottom: 40px;
		//@include size-md(4);
		//@include size-sm(6);
	}
	&_wordpress {
		background-color: #EF2929;
	}
	&_mobile{
		background-color:#FCE94FFF;
	}
	&_icons{
		background-color:#8AE234FF;
	}
	&_logos{
		background-color:#AD7FA8FF;
	}
	// img[src*="images"]{
	// 	width: 100%;
	// }


}

.slide-bg {
	text-align: center;
	height: 160px;
	font-size: 34px;
}

.slider3_item {
	position: relative;
	z-index: 1;
	&:hover .item-hover {
		opacity:1;
		//top:80px;
		//height:50%;
	}
}

.item-hover {
	background-color:#2aacc8;
	width:220px;
	position:absolute;
	height:50%;
	//transform: translateY(80px);
	top:80px;
	z-index:100;
	opacity: 0;
	transition: .3s ease-in;
	a {
		display: inline-block;
		vertical-align: top;
		margin-top: 12%;

	}

	a:first-of-type{
		margin-left: 30%;
		margin-right:25px;
	}
}

.slide-wrapper {
		@include row-flex();
	}


.slider3_pagination {
	margin:0 auto;
	width: 250px;
	li{
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height:30px;
	margin:0;
	}

}

.slider3_pagination button {
	
	border: none;
	padding:0;
	cursor: pointer;
	width: 100%;
	height:100%;
}
.slider3_last,
.slider3_first,
.prev-btn,
.next-btn {
	color: #2aacc8;
	font-size: 10px;
	background-color:#e8ebf1;
}

.slider3_pagination .slider3_page  {
	width: 90px;
	margin:0 10px;
	
}
.slider3_page button {
	height:30px;
	background-color: transparent;
	color:#000000;
	font-family: "Arial MT";
	font-size: 14px;
	font-weight: 400;
	width:100%;
	
}
.slider3_page .slick-current{
	background-color:#81e4ed;
}

// bottom section****************************************************

.bottom {
	background-color:#e8ebf1;
	margin-top:40px;
	padding-top:35px;
	padding-bottom:58px;
	&-container {
		display: flex;
		max-width:1000px;
		justify-content: space-between;
		flex-wrap:wrap;
	}
	
	&_text,
	&_link,
	&_address,
	&_phone,
	footer {color: #363636;
			font-family: "Arial MT";
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
		}
	
	&_link {
		display: inline-block;
		margin-bottom:10px;
		&:hover{
			color:#2aacc8;
		}
	}

	&-section-1{
		width:235px;
		margin-right: 15px;
		// @include md-block(){
		// 	width:100%;
			
		// };
		h3{
			margin-bottom: 20px;

		}
	}
	&-section-2{
		width:71px;
		margin-right: 15px;
		// @include md-block(){
		// 	width:100%;
			
		// };
		h3{
			margin-bottom:10px;
			display: inline-block;
		}
	}
	&-section-3{
		width:106px;
		margin-right: 15px;
		// @include md-block(){
		// 	width:100%;
			
		// };
		h3{
			margin-bottom:10px;
			display: inline-block;
		}
	}
	&-section-4{
		width:135px;
		margin-right: 15px;
		// @include md-block(){
		// 	width:100%;
			
		// };
		h3{
			margin-bottom: 20px;
			display: inline-block;
		}
		p {
			display: inline-block;
		}
		p:first-of-type{
			margin-bottom:15px;
		}
	}
	&-section-5{
		width: 196px;
		@include md-block(){
			width:100%;

		};

		
		h3{
			margin-bottom: 20px;
			padding-left:10px;
			display: inline-block;
			vertical-align: middle;
		}
		a{
			display: inline-block;
			vertical-align: top;
			margin-left: 5px;
			vertical-align: middle;
		}
	}
 }

footer {
 	width: 100%;
 	margin-top: 45px;
 	p{
 		font-size:13px;
 		margin-right: 18%
 	}
 	p,
 	.footer_logo{
 		display: inline-block;
 	}
 	.footer_logo{
 		@include md(display,none);
 	}
 }




